<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<servlet>
		<servlet-name>student-all</servlet-name>
		<servlet-class>com.stumgn.web.servlet.StudentListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-all</servlet-name>
		<url-pattern>/student/all</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>student-delete</servlet-name>
		<servlet-class>com.stumgn.web.servlet.StudentDelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-delete</servlet-name>
		<url-pattern>/student/del</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>student-add</servlet-name>
		<servlet-class>com.stumgn.web.servlet.StudentAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-add</servlet-name>
		<url-pattern>/student/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>student-get</servlet-name>
		<servlet-class>com.stumgn.web.servlet.StudentGetByIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-get</servlet-name>
		<url-pattern>/student/get</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>student-update</servlet-name>
		<servlet-class>com.stumgn.web.servlet.StudentUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>student-update</servlet-name>
		<url-pattern>/student/update</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>character-filter</filter-name>
		<filter-class>com.stumgn.web.filter.CharacterFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>character-filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>